<!DOCTYPE html>
<html lang="en">
<header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>MyAQI</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/dep/materialize/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="../static/dep/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet'/>
    <link href='../static/css/index.css' rel='stylesheet'/>
</header>

<body>
    #parse("common/nav.vm")
    #set($Integer = 0)
    #set($aqiInt = $Integer.parseInt(${airQuality.aqi}))
    #set($index_type = ${airQuality.index_type})
    #if($aqiInt <50)
        #set($color = "teal")
        #set($level = "level1")
        #set($tip = "空气很好，可以外出活动，呼吸新鲜空气。")
    #elseif($aqiInt < 100)
        #set($color = "yellow")
        #set($level = 'level2')
        #set($tip = "可以正常在户外活动，易敏感人群应减少外出。")
    #elseif($aqiInt <150)
        #set($color = "orange")
        #set($level = "level3")
        #set($index_type = "轻度污染")
        #set($tip = "敏感人群症状易加剧，应避免高强度户外锻炼，外出时做好防护措施。")
    #elseif($aqiInt < 200)
        #set($color = "red")
        #set($level = "level4")
        #set($index_type = "中度污染")
        #set($tip = "应减少户外活动，外出时佩戴口罩，敏感人群应尽量避免外出")
    #elseif($aqiInt <300)
        #set($color = "purple")
        #set($level = "level5")
        #set($index_type = "重度污染")
        #set($tip = "应减少户外活动，外出时佩戴口罩，敏感人群应留在室内。")
    #elseif($aqiInt <= 500)
        #set($color = "deep-purple")
        #set($level = "level6")
        #set($index_type = "严重污染")
        #set($tip = "应避免外出，敏感人群应留在室内，关好门窗。")
    #end
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center valign ${level}">${airQuality.city_name}</h1>
            <div class="gauge">
                <span class="gauge_${level}">${index_type}</span>
                <p class="gauge_img"></p>
                <p class="gauge_num">0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500</p>
                <p>温馨提示:&nbsp;  ${tip}</p>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../static/images/${level}.jpg" style="display: block; transform: translate3d(-50%, 151px, 0px);">
    </div>
</div>

<div class="container">
    <div class="section" style="text-align: center">
        <h2 class="header brown-text lighten-1 section-title">
            <span>
                <i class="mdi-image-wb-cloudy"></i>
                空气详情
            </span>
        </h2>
        <div class="row">
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.aqi}</span>
                        <p>AQI</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.pm25}</span>
                        <p>PM2.5/h</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.pm10}</span>
                        <p>PM10/h</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.co}</span>
                        <p>CO/h</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.no2}</span>
                        <p>NO<sub>2</sub>/h</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.o3}</span>
                        <p>O<sub>3</sub>/h</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">$!{airQuality.so2}</span>
                        <p>SO<sub>2</sub>/h</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card ${color} accent-4">
                    <a href="#monitorsites" class="modal-trigger">
                        <div class="card-content white-text">
                            <i class="material-icons" style="font-size: 40px;">add_circle_outline</i>
                            <p>监测点详情</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div id="chartdiv1" style=" height: 400px; width: 100%;"></div>
        </div>
    </div>
    <div class="parallax" style="background-color: #f6f8f8">

    </div>
</div>

<div class="container">
    <div class="section">
        <h2 class="header brown-text lighten-1 section-title">
            <span>
                <i class="material-icons">history</i>
                历史数据
            </span>
        </h2>
        <div id="history-chart" style="height: 400px;">

        </div>
    </div>
</div>
<div style="background-color: #f6f8f8">
    <div class="section">
        <div class="container">
            <h2 class="header brown-text lighten-1" id="related-city">
                <i class="material-icons" style="color: #454d51; font-size: 40px; margin-right: 10px;">explore</i>
                <span>$!{province} &nbsp;相关城市</span>
            </h2>
            <div  class="row" id="related-aqi">

            </div>

        </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="monitorsites" class="modal">
    <div class="modal-content">
        <h4>监测点详情</h4>
        <table id="monitor-table" class="striped centered">
            <thead>
            <tr>
                <th data-field="name">监测点</th>
                <th data-field="aqi">AQI</th>
                <th data-field="type">污染级别</th>
                <th data-field="prim">首要污染物</th>
                <th data-field="pm25">PM2.5</th>
                <th data-field="pm10">PM10</th>
                <th data-field="co">CO</th>
                <th data-field="no2">NO2</th>
                <th data-field="o3">O3</th>
                <th data-field="so2">SO2</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="../static/dep/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/dep/materialize/js/materialize.js"></script>
<script type="text/javascript" src="../static/dep/amcharts/amcharts.js"></script>
<script type="text/javascript" src="../static/dep/amcharts/serial.js"></script>
<script type="text/javascript" src="../static/dep/amcharts/themes/light.js"></script>
<script type="text/javascript" src="../static/dep/amcharts/themes/chalk.js"></script>
<script type="text/javascript" src="../static/js/sea.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<script>
    var id = '${airQuality.id}';
    var pinyin = id.split('_')[0];
    seajs.use(['nav', 'chart', 'table'], function (nav, chart, table) {
        nav.toggleSearch();
        chart.makechart('chartdiv1', '${airQuality.id}', '${request.getContextPath()}/forecast');
        $('.parallax').parallax();
        $('.modal-trigger').leanModal({
            dismissible: true,
            ready: function () {
                $.getJSON('${request.getContextPath()}/MonitoringSites/getCurrentMonitoringSites', {city: id.split('_')[0]}, function (data) {
                    data.forEach(function (sitedata) {
                        var row = $('<tr>');
                        var tharr = ['name', 'aqi', 'index_type', 'prim_pollu', 'pm25', 'pm10', 'co', 'no2', 'o3', 'so2'];
                        for (var key of tharr) {
                            var x = sitedata[key];
                            row.append($('<td>' + x + '</td>'));
                        }
                        $('#monitor-table tbody').append(row);
                    });
                })
            },
            complete: function () {
                $('tbody').empty();
            }
        });

        chart.historyChart('${request.getContextPath()}/AirQuality/getPastDaysAirQuality', id, 365);


    });

    $(function () {
        $.getJSON('${request.getContextPath()}/AirQuality/getRelatedCities', {cityName: pinyin}, function (data) {
            data.forEach(function(aqi_info){
                var name = aqi_info.city_name;
                var aqi = aqi_info.aqi;
                var a = $('<a>');
                var color;
                if (aqi < 50) color = 'teal';
                else if (aqi< 100) color = 'yellow';
                else if (aqi < 150) color ='orange';
                else if (aqi < 200) color = 'red';
                else if (aqi < 300) color = 'purple';
                else color = 'deep-purple';

                a.addClass('btn-large city-btn ' + color +' accent-4');
                a.attr('href', '${request.getContextPath()}/AirQuality/getCurrentAirQualityByChinese?city='+name);
                a.text(name + ': ' + aqi);
                $('#related-aqi').append(a);
            })
        })
    })
</script>
</body>


</html>